<div class="row">
  {{translate 'h1' 'profile.recentImages'}}
</div>

<div class="switcher">
  <div class="links">
    {{#link-to 'profile.recents' 1 classNames="active"}}{{translate 'profile.recents'}}{{/link-to}}
    {{#link-to 'profile.favorites' 1}}{{translate 'profile.favorites'}}{{/link-to}}
  </div>
  <div class="clearfix visible-sm visible-xs"></div>
  {{paginate model}}
</div>

<div class="subjects">
  {{#each}}
    {{render 'recent_subject' first}}
    {{render 'recent_subject' second}}
  {{/each}}
</div>
