<nav>
  <div class="links">
    {{#link-to 'science.sunspots' classNames='nav-link'}}{{translate 'sciencePage.navigation.sunspots'}}{{/link-to}}
    {{#link-to 'science.complexity' classNames='nav-link'}}{{translate 'sciencePage.navigation.complexity'}}{{/link-to}}
    {{#link-to 'science.why' classNames='nav-link'}}{{translate 'sciencePage.navigation.why'}}{{/link-to}}
    {{#link-to 'science.goals' classNames='nav-link'}}{{translate 'sciencePage.navigation.goals'}}{{/link-to}}
    {{#link-to 'science.data' classNames='nav-link'}}{{translate 'sciencePage.navigation.data'}}{{/link-to}}
  </div>
</nav>
