<nav>
  {{link-to 'Sunspots' 'science.sunspots'}}
  {{link-to 'Complexity' 'science.complexity'}}
  {{link-to 'Why' 'science.why'}}
  {{link-to 'Goals' 'science.goals'}}
  {{link-to 'Data' 'science.data'}}
</nav>
