<nav>
  {{link-to 'Sunspots' 'science.sunspots'}}
  {{link-to 'Sunspot complexity' 'science.complexity'}}
  {{link-to 'Why study sunspots?' 'science.why'}}
  {{link-to 'Why we need you' 'science.goals'}}
  {{link-to 'About the data' 'science.data'}}
</nav>
