<div class="science complexity row">
  <section>
    <div class="title row">
      {{translate 'h1' 'sciencePage.complexity.title'}}
    </div>
    
    <div class="row">
      {{partial 'science/nav'}}
    </div>
    
    <div class="row">
      <div class="table-row">
        <div class="captioned-image table-cell">
          <img src="images/science/complexity.jpg">
          
          <div class="caption">
            <div class="text">
              {{translate 'p' 'sciencePage.complexity.complexityCaption.text1'}}
              {{translate 'p' 'sciencePage.complexity.complexityCaption.text2'}}
              {{translate 'p' 'sciencePage.complexity.complexityCaption.text3'}}
            </div>
            
            <div class="credit">
              {{translate 'p' 'sciencePage.complexity.complexityCaption.credit'}}
            </div>
          </div>
        </div>
        
        <div class="content table-cell">
          {{translate 'p' 'sciencePage.complexity.intro'}}
          {{translate 'p' 'sciencePage.complexity.ranking'}}
          {{translate 'p' 'sciencePage.complexity.rankingResults'}}
        </div>
      </div>
    </div>
  </section>
</div>
