<div class="science complexity row">
  {{partial 'science/nav'}}
  
  <section>
    <div class="row">
      {{translate 'h1' 'sciencePage.complexity.title'}}
    </div>
    
    <div class="content row">
      <div class="captioned-image left">
        <img src="images/science/complexity.jpg">
        
        <div class="caption">
          <div class="text">
            {{translate 'p' 'sciencePage.complexity.complexityCaption.text1'}}
            {{translate 'p' 'sciencePage.complexity.complexityCaption.text2'}}
            {{translate 'p' 'sciencePage.complexity.complexityCaption.text3'}}
          </div>
          
          <div class="credit">
            {{translate 'p' 'sciencePage.complexity.complexityCaption.credit'}}
          </div>
        </div>
      </div>
      
      {{translate 'p' 'sciencePage.complexity.intro'}}
      {{translate 'p' 'sciencePage.complexity.ranking'}}
      {{translate 'p' 'sciencePage.complexity.rankingResults'}}
    </div>
  </section>
</div>
