<div class="science data row">
  {{partial 'science/nav'}}
  
  <section>
    <div class="row">
      {{translate 'h1' 'sciencePage.data.title'}}
    </div>
    
    <div class="content row">
      <div class="captioned-image left">
        <img src="images/science/soho_mdi.jpg">
        
        <div class="caption">
          <div class="text"></div>
          
          <div class="credit">
            {{translate 'p' 'sciencePage.data.mdiCaption.credit1'}}
            {{translate 'p' 'sciencePage.data.mdiCaption.credit2'}}
          </div>
        </div>
      </div>
      
      {{translate 'p' 'sciencePage.data.mdi.p1'}}
      {{translate 'p' 'sciencePage.data.mdi.p2'}}
      
      {{translate 'p' 'sciencePage.data.cutouts.p1'}}
      {{translate 'p' 'sciencePage.data.cutouts.p2'}}
    </div>
  </section>
</div>
