<div class="science goals row">
  {{partial 'science/nav'}}
  
  <section>
    <div class="row">
      {{translate 'h1' 'sciencePage.goals.title'}}
    </div>
    
    <div class="content row">
      {{translate 'p' 'sciencePage.goals.motivation.p1'}}
      {{translate 'p' 'sciencePage.goals.motivation.p2'}}
      
      <ul>
        {{translate 'li' 'sciencePage.goals.motivation.list1'}}
        {{translate 'li' 'sciencePage.goals.motivation.list2'}}
      </ul>
      
      {{translate 'p' 'sciencePage.goals.motivation.p3'}}
    </div>
    
    <div class="content row">
      {{translate 'p' 'sciencePage.goals.volunteers.p1'}}
      {{translate 'p' 'sciencePage.goals.volunteers.p2'}}
      {{translate 'p' 'sciencePage.goals.volunteers.p3'}}
    </div>
  </section>
</div>
