<div class="science goals row">
  <section>
    <div class="row">
      {{partial 'science/nav'}}
      {{translate 'h1' 'sciencePage.goals.title'}}
    </div>
    
    <div class="content row">
      {{translate 'p' 'sciencePage.goals.motivation.p1'}}
      {{translate 'p' 'sciencePage.goals.motivation.p2'}}
      {{translate 'p' 'sciencePage.goals.motivation.p3'}}
      {{translate 'p' 'sciencePage.goals.motivation.p4'}}
      {{translate 'p' 'sciencePage.goals.motivation.list1'}}
      {{translate 'p' 'sciencePage.goals.motivation.list2'}}
      {{translate 'p' 'sciencePage.goals.motivation.p5'}}
      {{translate 'p' 'sciencePage.goals.motivation.p6'}}
      {{translate 'p' 'sciencePage.goals.motivation.p7'}}
    </div>
    
    <div class="content row">
      {{translate 'p' 'sciencePage.goals.volunteers.p1'}}
      {{translate 'p' 'sciencePage.goals.volunteers.p2'}}
      {{translate 'p' 'sciencePage.goals.volunteers.p3'}}
      {{translate 'p' 'sciencePage.goals.volunteers.p4'}}
      {{translate 'p' 'sciencePage.goals.volunteers.p5'}}
      {{translate 'p' 'sciencePage.goals.volunteers.p6'}}
    </div>
  </section>
</div>
