<div class="science sunspots row">
  {{partial 'science/nav'}}
  
  <section>
    <div class="row">
      {{translate 'h1' 'sciencePage.sunspots.title'}}
    </div>
    
    <div class="row">
      <div class="table-row">
        <div class="captioned-image table-cell">
          <img src="images/science/sunspot_size.jpg">
          
          <div class="caption">
            <div class="text">
              {{translate 'p' 'sciencePage.sunspots.sizeCaption.text'}}
            </div>
            
            <div class="credit">
              {{translate 'p' 'sciencePage.sunspots.sizeCaption.credit'}}
            </div>
          </div>
        </div>
        
        <div class="content table-cell">
          {{translate 'p' 'sciencePage.sunspots.intro.p1'}}
          {{translate 'p' 'sciencePage.sunspots.intro.p2'}}
          {{translate 'p' 'sciencePage.sunspots.intro.p3'}}
          {{translate 'p' 'sciencePage.sunspots.intro.p4'}}
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="table-row">
        <div class="content table-cell">
          {{translate 'p' 'sciencePage.sunspots.structure.p1'}}
          {{translate 'p' 'sciencePage.sunspots.structure.p2'}}
        </div>
        
        <div class="captioned-image table-cell">
          <img src="images/science/sunspot_structure.jpg">
          
          <div class="caption">
            <div class="text">
              {{translate 'p' 'sciencePage.sunspots.structureCaption.text'}}
            </div>
            
            <div class="credit">
              {{translate 'p' 'sciencePage.sunspots.structureCaption.credit'}}
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="table-row">
        <div class="captioned-image table-cell">
          <img src="images/science/sunspot_magnet.jpg">
          
          <div class="caption">
            <div class="text">
              {{translate 'p' 'sciencePage.sunspots.magnetCaption.text'}}
            </div>
            
            <div class="credit">
              {{translate 'p' 'sciencePage.sunspots.magnetCaption.credit'}}
            </div>
          </div>
        </div>
        
        <div class="content table-cell">
          {{translate 'p' 'sciencePage.sunspots.magnetic.p1'}}
          {{translate 'p' 'sciencePage.sunspots.magnetic.p2'}}
        </div>
      </div>
    </div>
  </section>
</div>
