<div class="science sunspots row">
  {{partial 'science/nav'}}
  
  <section>
    <div class="row">
      {{translate 'h1' 'sciencePage.sunspots.title'}}
    </div>
    
    <div class="content row">
      <div class="captioned-image left">
        <img src="images/science/sunspot_size.jpg">
        
        <div class="caption">
          <div class="text">
            {{translate 'p' 'sciencePage.sunspots.sizeCaption.text'}}
          </div>
          
          <div class="credit">
            {{translate 'p' 'sciencePage.sunspots.sizeCaption.credit1'}}
            {{translate 'p' 'sciencePage.sunspots.sizeCaption.credit2'}}
            {{translate 'p' 'sciencePage.sunspots.sizeCaption.credit3'}}
            {{translate 'p' 'sciencePage.sunspots.sizeCaption.credit4'}}
          </div>
        </div>
      </div>
      
      {{translate 'p' 'sciencePage.sunspots.intro.p1'}}
      {{translate 'p' 'sciencePage.sunspots.intro.p2'}}
      {{translate 'p' 'sciencePage.sunspots.intro.p3'}}
      {{translate 'p' 'sciencePage.sunspots.intro.p4'}}
    </div>
    
    <div class="content row">
      <div class="captioned-image right">
        <img src="images/science/sunspot_structure.jpg">
        
        <div class="caption">
          <div class="text">
            {{translate 'p' 'sciencePage.sunspots.structureCaption.text'}}
          </div>
          
          <div class="credit">
            {{translate 'p' 'sciencePage.sunspots.structureCaption.credit1'}}
            {{translate 'p' 'sciencePage.sunspots.structureCaption.credit2'}}
            {{translate 'p' 'sciencePage.sunspots.structureCaption.credit3'}}
            {{translate 'p' 'sciencePage.sunspots.structureCaption.credit4'}}
          </div>
        </div>
      </div>
      
      {{translate 'p.right' 'sciencePage.sunspots.structure.p1'}}
      {{translate 'p.right' 'sciencePage.sunspots.structure.p2'}}
    </div>
    
    <div class="content row">
      <div class="captioned-image left">
        <img src="images/science/sunspot_magnet.jpg">
        
        <div class="caption">
          <div class="text">
            {{translate 'p' 'sciencePage.sunspots.magnetCaption.text'}}
          </div>
          
          <div class="credit">
            {{translate 'p' 'sciencePage.sunspots.magnetCaption.credit1'}}
            {{translate 'p' 'sciencePage.sunspots.magnetCaption.credit2'}}
          </div>
        </div>
      </div>
      
      {{translate 'p' 'sciencePage.sunspots.magnetic.p1'}}
      {{translate 'p' 'sciencePage.sunspots.magnetic.p2'}}
    </div>
  </section>
</div>
