<div class="science why row">
  {{partial 'science/nav'}}
  
  <section>
    <div class="row">
      {{translate 'h1' 'sciencePage.why.title'}}
    </div>
    
    <div class="content row">
      {{translate 'p' 'sciencePage.why.affect.p1'}}
      {{translate 'p' 'sciencePage.why.affect.p2'}}
      
      <div class="captioned-image">
        <img src="images/science/diagram.jpg">
        
        <div class="caption">
          <div class="text"></div>
          
          <div class="credit">
            {{translate 'p' 'sciencePage.why.diagramCaption.credit'}}
          </div>
        </div>
      </div>
    </div>
    
    <div class="content row">
      {{translate 'p' 'sciencePage.why.aurora.p1'}}
      {{translate 'p' 'sciencePage.why.aurora.p2'}}
      {{translate 'p' 'sciencePage.why.aurora.p3'}}
      
      <div class="captioned-image">
        <img src="images/science/aurora.jpg">
        
        <div class="caption">
          <div class="text"></div>
          
          <div class="credit">
            {{translate 'p' 'sciencePage.why.auroraCaption.credit'}}
          </div>
        </div>
      </div>
      
      <div class="captioned-image">
        <img src="images/science/aurora_earth.jpg">
        
        <div class="caption">
          <div class="text"></div>
          
          <div class="credit">
            {{translate 'p' 'sciencePage.why.auroraEarthCaption.credit'}}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
