<div class="science why row">
  <section>
    <div class="title row">
      {{translate 'h1' 'sciencePage.why.title'}}
    </div>
    
    <div class="row">
      {{partial 'science/nav'}}
    </div>
    
    <div class="row">
      <div class="table-row">
        <div class="captioned-image table-cell">
          <img src="images/science/diagram.jpg">
          
          <div class="caption">
            <div class="text"></div>
            
            <div class="credit">
              {{translate 'p' 'sciencePage.why.diagramCaption.credit'}}
            </div>
          </div>
        </div>
        
        <div class="content table-cell">
          {{translate 'p' 'sciencePage.why.affect.p1'}}
          {{translate 'p' 'sciencePage.why.affect.p2'}}
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="table-row">
        <div class="captioned-image table-cell">
          <img src="images/science/aurora.jpg">
          
          <div class="caption">
            <div class="text"></div>
            
            <div class="credit">
              {{translate 'p' 'sciencePage.why.auroraCaption.credit'}}
            </div>
          </div>
        </div>
        
        <div class="content table-cell">
          {{translate 'p' 'sciencePage.why.aurora.p1'}}
          {{translate 'p' 'sciencePage.why.aurora.p2'}}
          {{translate 'p' 'sciencePage.why.aurora.p3'}}
        </div>
      </div>
    </div>
  </section>
</div>
