<div class="container">
  <nav>
    <div class="row">
      <h1 class="logo">{{#link-to 'index'}}{{translate 'span' 'home.project'}}{{/link-to}}</h1>
      <div class="clearfix visible-sm visible-xs"></div>
      <div class="links">
        {{#link-to 'classify' classNames='nav-link'}}{{translate 'span' 'navigation.classify'}}{{/link-to}}
        {{#link-to 'science' classNames='nav-link'}}{{translate 'span' 'navigation.science'}}{{/link-to}}
        {{#link-to 'education' classNames='nav-link'}}{{translate 'span' 'navigation.education'}}{{/link-to}}
        {{#link-to 'team' classNames='nav-link'}}{{translate 'span' 'navigation.team'}}{{/link-to}}
        <a href="#" class="nav-link">{{translate 'span' 'navigation.discuss'}}</a>
        <!-- <a href="#" class="nav-link">{{translate 'span' 'navigation.blog'}}</a> -->
        {{#link-to 'profile' classNames='nav-link'}}{{translate 'span' 'navigation.profile'}}{{/link-to}}
        <a href="https://docs.google.com/forms/d/1MtdmL6YIWxRccikHHoiLDRDtMyEBe6bhynGp0slDcUw/viewform" target="_blank" class="feedback nav-link">Feedback</a>
      </div>
    </div>
  </nav>
  
  {{outlet}}
</div>
