<div class="container">
  <nav>
    <div class="row">
      <h1 class="logo">
        {{#link-to 'index'}}
          <img onerror="this.src='images/logo.png'" src="images/logo.svg">
        {{/link-to}}
      </h1>
      <div class="clearfix visible-sm visible-xs"></div>
      <div class="links">
        {{#link-to 'classify' classNames='nav-link'}}{{translate 'span' 'navigation.classify'}}{{/link-to}}
        {{#link-to 'science' classNames='nav-link'}}{{translate 'span' 'navigation.science'}}{{/link-to}}
        {{#link-to 'education' classNames='nav-link'}}{{translate 'span' 'navigation.education'}}{{/link-to}}
        {{#link-to 'team' classNames='nav-link'}}{{translate 'span' 'navigation.team'}}{{/link-to}}
        <a href="http://talk.sunspotter.org" class="nav-link">{{translate 'span' 'navigation.discuss'}}</a>
        <a href="http://blog.sunspotter.org" class="nav-link" target="_blank">{{translate 'span' 'navigation.blog'}}</a>
        {{#link-to 'profile' classNames='nav-link'}}{{translate 'span' 'navigation.profile'}}{{/link-to}}
      </div>
    </div>
  </nav>
  
  {{outlet}}
</div>
