<div class="container">
  <nav>
    <div class="row">
      <h1 class="logo">{{#linkTo 'index'}}{{ translate 'span' 'home.project' }}{{/linkTo}}</h1>
      <div class="clearfix visible-sm visible-xs"></div>
      <div class="links">
        {{#linkTo 'classify' classNames='nav-link'}}{{ translate 'span' 'navigation.classify' }}{{/linkTo}}
        {{#linkTo 'science' classNames='nav-link'}}{{ translate 'span' 'navigation.science' }}{{/linkTo}}
        {{#linkTo 'education' classNames='nav-link'}}{{ translate 'span' 'navigation.education' }}{{/linkTo}}
        {{#linkTo 'team' classNames='nav-link'}}{{ translate 'span' 'navigation.team' }}{{/linkTo}}
        <a href="#" class="nav-link">{{ translate 'span' 'navigation.discuss' }}</a>
        <a href="#" class="nav-link">{{ translate 'span' 'navigation.blog' }}</a>
        {{#linkTo 'profile' classNames='nav-link'}}{{ translate 'span' 'navigation.profile' }}{{/linkTo}}
      </div>
    </div>
  </nav>
  
  {{outlet}}
</div>
