<div class="classify">
  <div>
    {{translate 'h1' 'classifyPage.question'}}
    {{translate 'h3' 'classifyPage.explanationPrompt'}}
    
    <div class="row">
      <div class="current subjects">
        {{render 'subject' first}}
        {{render 'subject' second}}
      </div>
    </div>
    
    <div class="tool">
      <div {{bindAttr class=":invert isInverted:active"}} {{action "invert" bubbles="false"}}>
        {{translate 'div.label' 'classifyPage.invert'}}
        <div class="icon" data-icon="contrast"></div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="recent subjects">
      {{#each recent}}
        {{render 'recent_subject' first}}
        {{render 'recent_subject' second}}
      {{/each}}
    </div>
  </div>
  
  {{view App.StatsView}}
</div>
