<div class="classify">
  <div class="row">
    {{translate 'h1' 'classifyPage.question'}}
    <h3 {{action "explain" bubbles="false"}}>
      {{translate 'classifyPage.explanationPrompt'}}
    </h3>
    
    <div class="row">
      <div class="current subjects">
        {{render 'subject' first}}
        {{render 'subject' second}}
      </div>
    </div>
    
    <div class="tool">
      <div {{bind-attr class=":invert isInverted:active"}} {{action "invert" bubbles="false"}}>
        {{translate 'div.label' 'classifyPage.invert'}}
        <div class="icon" data-icon="contrast"></div>
      </div>
    </div>
  </div>
  
  {{view App.StatsView}}
</div>
