<div class="classify">
  <div>
    <h1>Which is more complex?</h1>
    <h3>What do we mean by complex?</h3>
    
    <div class="row">
      <div class="current subjects">
        {{render 'subject' first}}
        {{render 'subject' second}}
      </div>
    </div>
    
    <div class="tool">
      <div {{bindAttr class=":invert isInverted:active"}} {{action "invert" bubbles="false"}}>
        <div class="label">Invert</div>
        <div class="icon" data-icon="contrast"></div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="recent subjects">
      {{#each recent}}
        {{render 'last_subject' first}}
        {{render 'last_subject' second}}
      {{/each}}
    </div>
  </div>
  
  {{view App.StatsView}}
</div>
