<div class="education row">
  <section>
    <div class="row">
      {{translate 'h1' 'educationPage.classroom.title'}}
    </div>
    
    <div class="row">
      {{translate 'p' 'educationPage.classroom.p1'}}
    </div>
  </section>
  
  <section>
    <div class="row">
      {{translate 'h1' 'educationPage.resources.title'}}
    </div>
    
    <div class="row">
      {{translate 'p' 'educationPage.resources.videos.text'}}
      
      <ul>
        <li>
          <a href="http://missionscience.nasa.gov/sun/index.html" target="_blank">
            {{translate 'educationPage.resources.videos.mysteries.link'}}
          </a>&mdash;
          {{translate 'educationPage.resources.videos.mysteries.description'}}
        </li>
        
        <li>
          <a href="http://www.youtube.com/watch?v=q3OThcgccF0" target="_blank">
            {{translate 'educationPage.resources.videos.solarStorms.link'}}
          </a>&mdash;
          {{translate 'educationPage.resources.videos.solarStorms.description'}}
        </li>
        
        <li>
          <a href="https://www.youtube.com/watch?v=FNVVrK2rVlc" target="_blank">
            {{translate 'educationPage.resources.videos.spaceWeather.link'}}
          </a>&mdash;
          {{translate 'educationPage.resources.videos.spaceWeather.description'}}
        </li>
        
        <li>
          <a href="#" target="_blank">
            {{translate 'educationPage.resources.videos.higgins.link'}}
          </a>&mdash;
          {{translate 'educationPage.resources.videos.higgins.description'}}
        </li>
      </ul>
    </div>
    
    <div class="row">
      {{translate 'p' 'educationPage.resources.zooTeach.text'}}
      
      <ul>
        <li>
          <a href="http://www.zooteach.org/lessons/12" target="_blank">
            {{translate 'educationPage.resources.zooTeach.magneticSun.link'}}
          </a>&mdash;
          {{translate 'educationPage.resources.zooTeach.magneticSun.description'}}
        </li>
        
        <li>
          <a href="http://www.zooteach.org/lessons/87" target="_blank">
            {{translate 'educationPage.resources.zooTeach.exploreSunspots.link'}}
          </a>&mdash;
          {{translate 'educationPage.resources.zooTeach.exploreSunspots.description'}}
        </li>
        
        <li>
          <a href="http://www.zooteach.org/resources/99" target="_blank">
            {{translate 'educationPage.resources.zooTeach.exploreSunspotsPresentation.link'}}
          </a>&mdash;
          {{translate 'educationPage.resources.zooTeach.exploreSunspotsPresentation.description'}}
        </li>
      </ul>
      
      {{translate 'p' 'educationPage.resources.zooTeach.sunspotter'}}
    </div>
  </section>
  
  <section>
    <div class="row">
      {{translate 'h1' 'educationPage.keepUp.title'}}
    </div>
    
    <div class="row">
      {{translate 'p' 'educationPage.keepUp.p1'}}
      {{translate 'p' 'educationPage.keepUp.p2'}}
    </div>
  </section>
</div>
