<div class="education content">
  {{ translate 'h2' 'educationPage.classroomActivities.header' }}
  {{ translate 'p' 'educationPage.classroomActivities.classifySunspots' }}

  {{ translate 'h2' 'educationPage.galleryActivities.header' }}
  {{ translate 'p' 'educationPage.galleryActivities.recreation' }}
  {{ translate 'p' 'educationPage.galleryActivities.tracing' }}
</div>
