<div class="education row">
  <section>
    <div class="row">
      {{translate 'h1' 'educationPage.classroomActivities.header'}}
    </div>
    <div class="row">
      {{translate 'div' 'educationPage.classroomActivities.classifySunspots'}}
    </div>
  </section>
  
  <section>
    <div class="row">
      {{translate 'h1' 'educationPage.galleryActivities.header'}}
    </div>
    <div class="row">
      {{translate 'div' 'educationPage.galleryActivities.recreation'}}
    </div>
    <div class="row">
      {{translate 'div' 'educationPage.galleryActivities.tracing'}}
    </div>
  </section>
</div>
