<div class="home">
  <div class="row">
    <div class="welcome">
      {{translate 'h2' 'home.welcome'}}
      {{translate 'h1' 'home.project'}}
      {{translate 'h3' 'home.tagline'}}
      
      {{#linkTo 'classify' classNames="button"}}
        {{translate 'span' 'home.callToAction'}}
      {{/linkTo}}
      
      {{#linkTo 'science' classNames="science-link"}}
        {{translate 'em' 'home.prompt'}}
      {{/linkTo}}
    </div>
  </div>
  
  {{view App.StatsView}}
</div>
