<div class="home">
  <div class="row">
    <div class="welcome">
      <h1>
        {{#link-to 'classify'}}
          <img src="images/challenge.png">
        {{/link-to}}
      </h1>
      
      {{#unless App.outOfData}}
        {{translate 'h3' 'home.tagline'}}
        
        {{#link-to 'classify' classNames="button"}}
          {{translate 'span' 'home.callToAction'}}
        {{/link-to}}
        
        {{#link-to 'science' classNames="science-link"}}
          {{translate 'em' 'home.prompt'}}
        {{/link-to}}
      {{else}}
        <div class="row">
          {{translate 'h1' 'donePage.title'}}
        </div>
        
        {{partial 'complete_message'}}
      {{/unless}}
    </div>
  </div>
  
  {{view App.StatsView}}
</div>
