<div class="image-container">
  <img {{bind-attr src="standardImage"}}>
  
  <div class="information">
    <div class="left">
      {{#each info in information}}
        <div class="info">
          <div class="label">{{info.label}}</div>
          <div class="value">{{info.value}} {{info.unit}}</div>
        </div>
      {{/each}}
    </div>
    
    <div class="right actions">
      <div {{bind-attr class=":action isFavorited:favorited"}} data-icon="star" {{action "toggleFavorite" bubbles="true"}}></div>
      <div class="action" data-icon="comment"></div>
      <div class="action" data-icon="twitter"></div>
    </div>
  </div>
</div>
