<div class="stats row">
  <div class="stat">
    {{translate 'div.label' 'stats.rankings'}}
    <div class="value">{{formatNumber view.rankings}}</div>
  </div>
  
  <div class="stat">
    {{translate 'div.label' 'stats.users'}}
    <div class="value">{{formatNumber view.users}}</div>
  </div>
  
  <div class="stat">
    {{translate 'div.label' 'stats.total'}}
    <div class="value">{{formatNumber view.total}}</div>
  </div>
  
  <div class="stat">
    {{translate 'div.label' 'stats.pass'}}
    <div class="value">{{formatNumber view.pass}}</div>
  </div>
</div>
