<div class="team">
  <section>
    {{translate 'h1' 'teamPage.science.header'}}
    {{translate 'h3' 'teamPage.science.tagline'}}
    
    {{#team-member name="Paul A. Higgins" title="Scientist"}}{{translate 'p' 'teamPage.science.bios.higgins'}}{{/team-member}}
    {{#team-member name="Peter T. Gallagher" title="Scientist"}}{{translate 'p' 'teamPage.science.bios.gallagher'}}{{/team-member}}
    {{#team-member name="David Pérez-Suárez" title="Scientist"}}{{translate 'p' 'teamPage.science.bios.perez_suarez'}}{{/team-member}}
    {{#team-member name="David O'Callaghan" title="Scientist"}}{{translate 'p' 'teamPage.science.bios.o_callaghan'}}{{/team-member}}
    {{#team-member name="Joseph Roche" title="Scientist"}}{{translate 'p' 'teamPage.science.bios.roche'}}{{/team-member}}
    {{#team-member name="Arlene O'Neill" title="Scientist"}}{{translate 'p' 'teamPage.science.bios.o_neill'}}{{/team-member}}
    {{#team-member name="Dan Ryan" title="Scientist"}}{{translate 'p' 'teamPage.science.bios.ryan'}}{{/team-member}}
    {{#team-member name="D. Shaun Bloomfield" title="Scientist"}}{{translate 'p' 'teamPage.science.bios.bloomfield'}}{{/team-member}}
    {{#team-member name="Sophie Murray" title="Scientist"}}{{translate 'p' 'teamPage.science.bios.murray'}}{{/team-member}}
    <!-- {{#team-member name="Greg Slater" title="Scientist"}}{{translate 'p' 'teamPage.science.bios.slater'}}{{/team-member}} -->
    {{#team-member name="KD Leka" title="Scientist"}}{{translate 'p' 'teamPage.science.bios.leka'}}{{/team-member}}
    <!-- {{#team-member name="Graham Barnes" title="Scientist"}}{{translate 'p' 'teamPage.science.bios.barnes'}}{{/team-member}} -->
  </section>
  
  <hr />
  
  <section>
    {{translate 'h1' 'teamPage.zooniverse.header'}}
    {{translate 'h3' 'teamPage.zooniverse.tagline'}}
    
    {{#team-member name="Kelly Borden" title="Educator"}}{{translate 'p' 'teamPage.zooniverse.bios.borden'}}{{/team-member}}
    {{#team-member name="Chris Lintott" title="Herder"}}{{translate 'p' 'teamPage.zooniverse.bios.lintott'}}{{/team-member}}
    {{#team-member name="Michael Parrish" title="Developer"}}{{translate 'p' 'teamPage.zooniverse.bios.parrish'}}{{/team-member}}
    {{#team-member name="Heath Van Singel" title="Designer"}}{{translate 'p' 'teamPage.zooniverse.bios.singel'}}{{/team-member}}
    {{#team-member name="Chris Snyder" title="Developer"}}{{translate 'p' 'teamPage.zooniverse.bios.snyder'}}{{/team-member}}
    {{#team-member name="Laura Whyte" title="Herder"}}{{translate 'p' 'teamPage.zooniverse.bios.whyte'}}{{/team-member}}
  </section>
</div>
